body {
    background: linear-gradient(to right, #d2d2d4 0%, #d2d2d4  27%, #ffffff 25%, #ffffff 73%, #d2d2d4  73%, #d2d2d4  100%);
    color: rgb(39, 38, 38);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}


.nav-item {
    font-family:Arial, Helvetica, sans-serif;
}

.main-content {
    text-align: center; 
    margin-top:2%;
}

.blocksatz {
    text-align: justify;
    align-content: center;
    margin-left:30%;
    margin-right:30%;
}

.img-center {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 1rem;
}

.nav-link  { 
    border-radius: 16px;
    padding: 0.6rem 1rem;
    /* Geht leider nicht anders, sonst ist sie 0.01s lang eckig */
}


.quiz-answers {
    display: flex;
    margin-bottom: 2rem;
}

.nav-link:hover {
    background-color: #d2d2d2;
    color: rgb(108, 106, 106);
}

.answer-btn {
  font-size: 1.3rem;
  display: inline-block;
  padding: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  margin: 6px;
  flex: 1
}

.answer-btn:hover {
  background: #f0f0f0;
  border-color: rgb(34, 34, 34);
}

.answer-btn input {
  display: none;
}

.answer-btn:has(input:checked) {
  background: #222;
  color: white;
  border-color: #222;
}

.submit-btn {
  color:white;
  display: inline-block;
  border:white;
  padding: 1.2rem 2.2rem;
  background-color: rgb(207, 28, 0);
  border-radius: 16px;
  cursor: pointer;
  margin: 6px;
}

.submit-btn:hover {
    padding: 1.1rem 2.1rem;
}

.username-field {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.username-field input {
  width: 100%;
  padding: 1rem 1.4rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.leaderboard-btn {
  padding: 0.7rem 1.2rem;
  border-radius: 16px;
  background-color: rgb(108, 106, 106);
  color: white;
  border: none;
}

.centered-right {
  display: flex;
  justify-content: flex-end;
}
