{% extends "index.html" %}

{% block content %}
<div class="main-content">
    <div class="blocksatz">
        <h2><b>Geschichte</b></h2>
        <p>In den 1950er-Jahren wurden in den USA die ersten drei weitverbreiteten "höheren"
            Programmiersprachen entwickelt. Diese heißen <b>Fortran</b>, <b>Lisp</b>
            und <b>COBOL</b>. Davon die einzige, die auch heute noch in Gebrauch ist, ist
            <b>Fortran</b>. 
            <br>
            <h4>Neues Konzept</h4>
            Zwischen 1958 und 1960 wurde von einem internationalen Komitee eine "neue Sprachen
            für Algorithmen", die später Algol 58 heißen sollte, konzipiert. 
            Diese Beeinflusste das design späterer Sprachen wie Pascal, Scheme und Simula 67. 
            <br><br>
            <h4>Nächster Meilenstein</h4>
            Um 1964 wurde <b>BASIC</b> entwickelt, die als einfache Sprache Studierenden den 
            Einstieg in das Programmieren mit Algol und Fortran zu erleichtern.
            <br><br>
            <h4>C</h4>
            Noch heute ist <b>C</b> eine der beliebtesten und meistgenutzen Programmiersprachen.
            C ist nicht von Haus aus objektorientiert, wird zu Beginn größtenteils für das 
            Schreiben von Betriebssystemen genutzt.
            <br><br>
            <h4>OOP</h4>
            Ebenfalls zu dieser Zeit entstand das Konzept des <a href="/oop">objektorientierten Programmierens</a>. 
            Mit Sprachen wie <b>C++, C#, Python und Java</b> wird dieses Konzept weiter adaptiert und angewendet. Heute 
            machen diese Sprachen zusammen einen riesigen Teil des Codes aus, der unser tägliches Leben beeinflusst.


        </p>
    </div>
</div>
{% endblock %}
