{% extends "index.html" %}

{% block content %}
<div class="main-content"> 
    <div class="blocksatz">
        <h2><b>Programmiersprachen</b></h2>
        <p>
            In diesem Artikel findest du eine kurze Übersicht über verschiedene Programmiersprachen, Grundkonzepte des Programmierens und einige weitere Informationen!
        </p>
        <img class="img-center" src="static/images/languages.png" alt="Bild Skriptsprachen-Programmiersprachen">
        <p>
            Auf den verschiedenen Seiten erkläre kurz das Konzept des <a href="/oop">objektorientierten Programmierens</a> (OOP), ich versuche, den Unterschied zwischen Programmiersprachen und 
            <a href="/script">Skriptsprachen</a> zu zeigen, ich zeige die Syntax verschiedener Programmiersprachen und was überhaupt der Unterschied zwischen den Begriffen <a href="syntax">"Syntax" und "Semantik"</a> ist. Zum Schluss 
            erfährst du noch etwas über die <a href="/history">Geschichte der Programmiersprachen</a> und wie sich die obengenannten Konzepte und Begrifflichkeiten entwickelt haben. 
        </p>
        <h3>Infos zu dieser Website</h3>
        <p>
            Diese Website ist im Mini-(Python-)Webframework <a href="https://flask.palletsprojects.com/en/stable/">Flask</a> geschrieben. Die Datenbank, in der die Daten der Quiz-Teilnehmer gespeichert sind,
            ist eine <a href="https://www.postgresql.org">PostgreSQL-Datenbank.</a> Die Website ist über den Cloud-Provider <a href="https://railway.com">Railway</a> deployed, dort liegt deshalb natürlich auch
            die Datenbank. Das <a href="https://github.com">Github-Repository</a> der Website findest du <a href="https://github.com/Raphi9999/Homepage-schule">hier</a>. Dort kannst du, wenn du möchtest, alle 
            Dateien, aus denen die Website besteht herunterladen, oder das Repository <a href="https://docs.github.com/de/repositories/creating-and-managing-repositories/cloning-a-repository">klonen</a>.
        </p>
        <p>
            :D 
        </p>
              
        
    </div>
</div>
{% endblock %}