{% extends "index.html" %}

{% block content %}
<div class="main-content">
    <div class="blocksatz">
    <h2><b>Objektorientiertes Programmieren</b></h2>
        <p>
            "OOP" ist die Abkürzung für Objektorientiertes Programmieren. <br>
            Dieses Konzept wird in vielen modernen Programmiersprachen genutzt. Einige bekannte Beispiele dafür sind:
        </p>   
        <ul class="list-group">
            <li class="list-group-item">Python</li>
            <li class="list-group-item">Java</li>
            <li class="list-group-item">C#</li>
            <li class="list-group-item">Kotlin</li>
            <li class="list-group-item">C++</li>
        </ul>
        <p style="margin-top:2px;">
            <b>Das Konzept von OOP funktioniert in etwa folgendermaßen:</b> <br>
            Programme in diesen Sprachen sind aufgeteilt in Klassen und Objekte. Dabei sind Klassen der "Bauplan" für die Objekte. 
            In einer Klasse wird definiert, wie ein Objekt später aussehen soll. Danach kann aus diesem "Bauplan" danach eine beliebige Menge an Objekten instanziert (erstellt) werden.
            <br><b>Beispiel: <br></b>
        </p>
    </div>
    <img class=img-flex src="static/images/oop-schweinchen.png" alt="OOP-Beispiel in Python">
    
</div>
{% endblock %}

