{% extends "index.html" %}

{% block content %}
<div class="main-content">
    <div class="blocksatz">
        <h2><b>Skriptsprachen</b></h2>
        <p>
            Skriptsprachen sind Programmiersprachen, die für gewöhnlich dazu da sind, um
            bestehende Systeme zu ergänzen. Meistens werden sie durch einen Interpreter ausgeführt.
        </p>
        <h4>Skripte</h4>
        <p>
            Der Begriff Skript steht meist für ein kleines/kurzes Programm, das eine
            einfache Aufgabe ausführt. In Microsoft werden solche kleinen Programme "Makros"
            genannt, diese sind meist in Visual Basic (VBA) geschrieben.
        </p>   
        <h4>Beispiele</h4>
        <p>
            Einige der bekanntesten Beispiele für Skriptsprachen sind:     
        </p>
        <ul>
            <b>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>Python</li>
                <li>Bash</li>
                <li>Lua</li>
                <li>Ruby</li>
            </b>
        </ul>
        <h4>Andere Verwendungen</h4>
        Sprachen wie <b>PHP, Lua und Python</b> sind mehr oder weniger universell einsetzbar.
    </div>
</div>
{% endblock %}