{% extends "index.html" %}

{% block content %}
<div class="main-content">
    <div class="blocksatz">
        <h2><b>Syntax & Semantik</b></h2>
        <h4>Syntax</h4>
        <p>
            Als Syntax wird die <b>visuelle Struktur</b> einer Programmiersprache bezeichnet. Sie bestimmt, welche Zeichen, Wörter und 
            Strukturen innerhalb eines Programmes erlaubt sind. Wenn ein Programm syntaktisch falsch ist, kann es vom Compiler/Interpreter 
            nicht korrekt gelesen werden und es funktioniert nicht. <br>
            Hier ein Vergleich der Syntax von 6 verschiedenen Programmiersprachen:
        </p>
        <img class="img-center" src="static/images/comparison.png" alt="Vergleich 6 verschiedener Programmiersprachen">

        <h4 style="margin-top:1rem">Semantik</h4>
        <p>
            Als Semantik bezeichnet man die Bedeutung und das Verhalten des <b>syntaktisch korrekten</b> Codes. Sie bestimmt, was Befehle
            bewirken, wenn sie vom Computer ausgeführt werden. In Folge dessen kann ein Programm zwar "grammatikalisch" korrekt sein, aber aufgrund 
            falscher Logik trotzdem nicht die gewünschten Ergebnisse liefern.
        </p>

    </div>
</div>
{% endblock %}

